html,
body {
    min-height: 100vh;
    height: 100%;
}

a {
    text-decoration: none !important;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo-container{
    display: flex;
    flex-direction: column;
}
.page-title-logo {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #3F51B5;
    margin: 0 25px 0 0;
}

.page-subtitle-logo {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #3F51B5;
    margin: 0 25px 0 0;
}

.main-title-question {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    text-transform: uppercase;
    color: #000000;
}

.request-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.request-options {
    display: flex;
    flex-direction: row;
}

.request-card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.request-card-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.request-card-footer{
    width: 100%;
    min-height: 40px;
    background: #000000;
}

.request-card-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 0 0px;
    text-align: center;

}

.sub-title-question {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.request-list-link {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #3F51B5;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .page-title-logo{
        font-size: 30px;
        line-height: 35px;
        margin-top: 10px;
        margin-right: 10px;
        text-align: right;
    }
    .page-subtitle-logo{
        font-size: 14px;
        line-height: 18px;
        margin-right: 10px;
        text-align: right;
    }
    .main-title-question{
        font-size: 24px;
        line-height: 30px;
    }
    .sub-title-question {
        font-size: 24px;
    }
    .request-card-title {
        font-size: 16px;
    }
    .request-card {
        max-width: 100%;
    }
}